
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.navigation {
    background-color: aquamarine;
}

nav {
    width: 73%;
    padding: 1%;
    color: #373738;
}

ul {
    width: 50%;
    margin-left: auto;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heroImg {
    height: 600px;
    padding: 25%;
}

.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 0 auto;
}

button {
    background-color:darkslategrey;
    color: white;
    padding: 12px;
}

footer {
    background-color: #373738;
    padding: 25px;
    color: aquamarine;
    text-align: center;
}