
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    height: 100px;
    padding: 1%;
}

.logo img {
    width: 25%;
}

.navigation {
    background-color: aquamarine;
}


nav {
    width: 72%;
    padding: 1%;
    color: #373738;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    word-spacing: 20px;
    text-align: right;
    align-content: center;
}

ul {
    width:25%;
    margin-left: auto;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heroImg {
    height: 600px;
    padding: 25px;
    overflow: auto;
}

.content {
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

 img {
    width: 0 auto;
} 

button {
    background-color:darkslategrey;
    color: white;
    padding: 12px;
}

footer {
    background-color: #373738;
    padding: 25px;
    color: aquamarine;
    text-align: center;
}

ul footer {
    display: inline-block;
    vertical-align: top;
    padding: 0 auto;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.content img {
    width: 100%;
}